body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3f2fd; /* Light blue background */
    padding: 0 20px; /* Add padding to both left and right sides */
}

header {
    background-color: #004aad; /* Blue */
    color: white;
    padding: 10px 0; /* Remove padding from left and right sides */
    text-align: center;
    overflow: visible;
}

nav {
    background-color: #ff914d; /* Orange */
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #e3f2fd; /* Light blue */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ff7043; /* Darker orange */
}

nav .hamburger {
    display: none;
    float: right;
    padding: 14px 20px;
    cursor: pointer;
}

section#about-me {
    text-align: center;
    font-size: 18px;
    list-style: none;
    padding: 0 20px; /* Add padding to both left and right sides */
    background-color: #ffccbc; /* Light orange */
}

section#about-me ul li::before {
    content: "✓";
    color: #ff7043; /* Darker orange */
    margin-right: 10px;
}

section#projects {
    display: block; /* Change from flex to block */
    margin: 20px auto; /* Center the section horizontally */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Set a maximum width for better centering */
    padding: 0 20px; /* Add padding to both left and right sides */
}

section#projects .card {
    background-color: #e3f2fd; /* Light blue */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0; /* Adjust margin for vertical spacing */
    padding: 20px;
    box-sizing: border-box;
}

section#projects .card h3 {
    margin-top: 0;
}

section#projects .card p {
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    section#projects .card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    nav a {
        float: none;
        width: 100%;
        display: none;
    }

    nav .hamburger {
        display: block;
    }

    nav.active a {
        display: block;
    }

    section#projects .card {
        flex: 1 1 calc(100% - 40px);
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 0; /* Remove padding from left and right sides */
    }

    section#about-me {
        font-size: 16px;
    }

    section#projects {
        padding: 10px;
    }

    section#projects .card {
        padding: 10px;
    }
}

@media (min-width: 769px) {
    nav .hamburger {
        display: none;
    }

    nav a {
        display: block;
    }
}

footer {
    background-color: #1565c0; /* Darker blue */
    color: #e3f2fd; /* Light blue */
    padding: 10px 20px; /* Add padding to both left and right sides */
}